@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
}

.outer-circle {
    margin: 0 auto;
    height: 600px;
    width: 600px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 100%;
    position: relative;
}

.inner-circle {
    height: 50px;
    width: 50px;
    background: #DE81FF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 100%;
    position: absolute;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: x-large;
}

.container {
    position: absolute;
    height: 300px;
    width: 300px;
    text-align: center;
    top: 230px;
}

.input {
    text-transform: uppercase;
    margin: 0 auto;
    outline: none;
}

.respuesta {
    display: flex;
    justify-content: center;
    flex-direction: column;
}