@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.hide {
    visibility: hidden;
}

.selected {
    border: white inset 4px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    background-color: #560074;
    height: 100vh;
    width: 100vw;
    margin: 1%;
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    display: none;
}

#btnEmpezar {
    position: absolute;
    left: 467px;
    top: 400px;
    height: 60px;
    width: 170px;
    z-index: 30;
    background: #A60CDC;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.5);
    border-radius: 70px;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 5px;
}

#btnEmpezar:hover {
    background: #b33cdf;
    cursor: pointer;
}

.all {
    position: relative
}

#text,
#text2 {
    position: absolute;
    font-size: 1.5rem;
}

.prep {
    left: 470px;
    top: 250px;
}

.listos {
    left: 507px;
    top: 300px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 1rem 0 0 5rem;
}

h1 {
    margin: 0px;
    font-weight: 700;
    font-size: 2rem;
}

h2 {
    margin: 0px;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    font-style: italic;
    font-weight: 500;
    line-height: 10px;
}

.container {
    height: 85vh;
    border: 2px solid white;
    border-radius: 3.75rem;
    position: relative;
    display: flex;
    justify-content: center;
    width: 1100px;
}

.rosco_center {
    position: absolute;
    height: 300px;
    width: 300px;
    text-align: center;
    top: 120px;
    left: 150px;
}

.rosco {
    margin: 0px auto 0 auto;
    width: 600px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 100%;
    position: relative;
}

.letter {
    height: 3.125rem;
    width: 3.125rem;
    background: #D250FF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    -moz-border-radius: 3.125rem;
    -webkit-border-radius: 3.125rem;
    border-radius: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.containerRespuesta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    left: -15px;
}

.estiloRespCorrecta {
    background-color: #6fcc65;
}

.estiloRespIncorrecta {
    background-color: #E60000;
}

.estiloPasapalabra {
    background-color: #FFB800;
}

.estiloSiguiente {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 6px 15px #FFFFFF;
}

.contadorFaltan {
    display: flex;
    position: absolute;
    top: 10px;
    left: 130px;
}

.footer {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    bottom: 1px;
    width: 95%;
    z-index: 2;
}

.reloj_cantFaltan {
    margin: 0 0 50px 20px;
    display: flex;
    position: relative;
}

.contadores {
    margin-right: 30px;
}

.correctas {
    display: flex;
}

.incorrectas {
    display: flex;
}

.reloj {
    color: black;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    padding: 0.2rem;
    background-color: #ECB6FF;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.3);
    width: 8rem;
    text-align: center;
    border-radius: 70px;
}

#cantFaltantes,
#cantCorrectas,
#cantIncorrectas {
    background-color: #A60CDC;
    padding: 8px;
    border-radius: 100%;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.3);
    font-weight: 600;
}

.cantFaltantes_text {
    margin: auto 0 auto 8px;
    font-weight: 500;
}

.cantCorrectas_text,
.cantIncorrectas_text {
    margin: auto 8px auto 0px;
    font-weight: 500;
}

#cantCorrectas {
    background-color: #6fcc65;
    margin: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#cantIncorrectas {
    background-color: #E60000;
    margin-top: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#categoria {
    position: absolute;
    font-style: bolder;
    font-size: 1.6rem;
    left: 75px;
}

.titleH3 {
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    color: #000000;
    margin: 7px auto;
    background: #dd9af5;
    border-radius: 40px;
    padding: 2px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#definition {
    line-height: 20px;
    font-size: 1.3rem;
    height: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    margin-bottom: 40px;
    width: 100%;
}

.containerInput {
    display: flex;
    justify-content: center;
}

.btnEnviar {
    background-color: #6fcc65;
    border-radius: 30px;
    padding: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconListo {
    width: 25px;
    padding: 0 10px;
}

.input {
    border-radius: 30px;
    border: none;
    padding: 10px;
    text-align: center;
    height: 20px;
    margin-right: 10px;
    caret-color: #AFAFAF;
    text-transform: uppercase;
    outline: none;
}

.input::-webkit-input-placeholder {
    font-weight: bolder;
    color: #DADADA;
    font-size: 0.8rem;
    line-height: 3;
}

#respIngresada {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.textPasapalabra {
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 25px;
}

.btnVioleta {
    background: #A60CDC;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.5);
    border-radius: 70px;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: bold;
    width: 200px;
    font-size: 1.2rem;
    padding: 5px;
    margin: 0 auto;
}

.btnVioleta:hover {
    background: #b33cdf;
    cursor: pointer;
}