@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0 0;
    background-color: #560074;
    height: 100%;
    margin: 5% 5%;
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    display: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 4rem 0;
}

h1 {
    margin: 0px;
    font-weight: 700;
    font-size: 2rem;
}

h2 {
    margin: 0px;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    font-style: italic;
    font-weight: 500;
    line-height: 10px;
}

.container {
    height: 60vh;
    border: 2px solid white;
    border-radius: 3.75rem;
    width: 500px;
}

h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 45px;
    text-align: center;
    color: #000000;
    height: 40px;
    width: 300px;
    margin: 6rem auto 5rem auto;
    padding: 5px;
    background: #D250FF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnListo {
    background-color: #78d370;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.5);
    border-radius: 70px;
    border: none;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: bold;
    width: 200px;
    font-size: 1.2rem;
    padding: 5px;
    margin: 3.5rem auto;
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    border-radius: 30px;
    border: none;
    padding: 10px;
    caret-color: #AFAFAF;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    width: 200px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px auto;
    text-align: center;
    text-transform: uppercase;
}

#pass {
    font-size: 20px;
}

.input::-webkit-input-placeholder {
    font-family: Poppins;
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
    line-height: 3;
    text-align: center;
    color: #DADADA;
    display: flex;
    justify-content: center;
    align-items: center;
}